<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <h1>Welcome {{ user.username }}!</h1>
    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator>

<div class="form-body">
  <form
    autocomplete="off"
    [formGroup]="createForm"
    (ngSubmit)="onCreate(createForm.value)"
  >
    <div>
      <label>Alias: </label>
      <input type="text" formControlName="alias" autocomplete="off" />
    </div>
    <div>
      <label>Address: </label>
      <input type="text" formControlName="address" autocomplete="off" />
    </div>
    <div>
      <label>Area: </label>
      <input type="text" formControlName="area" autocomplete="off" />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>


<div *ngFor="let apartment of apartments">
  <div>{{ apartment.alias }}</div>
  <div>{{ apartment.address }}</div>
  <div>{{ apartment.area }}</div>
</div>